<nav>
    <div class="site-title">
        <a href ="/"><h1>Receptár</h1></a>
    </div>
    <ul>
        <li class="nav-item"><a href ="/recipes/create">Vytvoriť nový</a></li>
        <li class="nav-item"><a href ="/recipes">Zoznam receptov</a></li>
    </ul>
</nav>