<html lang="sk">
    <%- include('./partials/head.ejs') %>
</html>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="site-content">
        <h2>Všetky recepty</h2>
            <% if (recipes.length) { %>
                <ul class="recipes-list">
                    <% recipes.forEach(recipe => { %>
                        <%- include('./partials/recipe-card.ejs', {recipe: recipe}) %>
                    <% }) %>
                </ul>
            <% } else { %>
                <p>Nenašli sa žiadne recepty.</p>
            <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>