<html lang="sk">
    <%- include('./partials/head.ejs') %>
</html>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="site-content">
        <h2>Najnovší recept</h2>
            <div class="recipes-list">
            <% if (recipes.length) { %>
                <% recipes.forEach(recipe => { %>
                    <%- include('./partials/recipe-card.ejs', {recipe: recipe}) %>
                <% }) %>
            <% } else { %>
                <p>Nenašiel sa žiaden recept.</p>
            <% } %>
            </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>